@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Source Serif Pro', serif;
}

.cart {
  width: 100%;
  text-align: center;
  background-color: #FF9800;
  padding: 20px;
  min-height: 100vh;
}

.cartTitle {
  font-size: 35px;
  margin-bottom: 20px;
}

.cartList {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5px;
}

.cartItem {
  background-color: #B80000;
  width: 350px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 8px;
  transition: .3s;
}

.cartItem:hover {
  transform: scale(1.02);
  opacity: 0.9;
  background-color: #fe3c3cc7;
}

.cartItem img {
  width: 100px;
  height: 100px;
}

.cartItemDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cartItem h3 {
  font-size: 25px;
  color: black;
  margin-top: 10px;
  letter-spacing: 1px;
}

.cartItem p {
  font-size: 20px;
  letter-spacing: 1px;
}

.removeButton {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: black;
  color: white;
  padding: 10px 20px;
  transition: .3s;
}

.removeButton:hover {
  background-color: #fe3c3cc7;
}

.totalPrice {
  font-size: 25px;
  margin-top: 20px;
}

@media (max-width:600px) {
  .cart {
    padding: 5px;
  }

  .cartItem {
    width: 180px;
  }

  .cartItem img {
    width: 80px;
    height: 80px;
  }

  .cartItemDetails h3 {
    font-size: 20px;
  }

  .cartItemDetails p {
    font-size: 15px;
  }

  .removeButton {
    padding: 5px 10px;
  }
}

@media (max-width:400px) {
  .cart {
    padding: 2px;
  }

  .cartItem {
    width: 150px;
  }

  .cartItem img {
    width: 50px;
    height: 50px;
  }

  .cartItemDetails h3 {
    font-size: 15px;
  }

  .cartItemDetails p {
    font-size: 12px;
  }

  .removeButton {
    padding: 5px;
  }
}
